[submodule "tools/polly"]
	path = tools/polly
	url = https://github.com/ruslo/polly
[submodule "tools/gate"]
	path = tools/gate
	url = https://github.com/hunter-packages/gate.git
[submodule "picosha2"]
	path = third-party/picosha2
	url = https://github.com/okdshin/PicoSHA2.git
